*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
   background-color: black;

}
.yazi{
    color: white;
}
.sagust{
    position: fixed;
    left: 0px;
    top: 0px;
}
 .logo{
    border-radius: 50%;
    margin-top: 90px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
    padding: 90px;
    float: right;
    text-indent: 10px;
    color: white;
    
}
